.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiDrawer-paper {
  background-color: #fafafa !important;
}

.makeStyles-appBarShift-3 {
  background-color: #2e3b55 !important;
}

.MuiTypography-noWrap {
  color: #fff;
}
.MuiInputBase-input {
  line-height: 30px !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.MuiAppBar-colorPrimary {
  background-color: #2e3b55 !important;
}
.MuiInputBase-input,
main,
body {
  background-color: #ffffff !important;
}

.github-corner svg {
  z-index: 10000;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #fafafa !important;
  text-align: center;
  z-index: 10000;
  border-top: 1px solid #ccc;
}

.MuiSvgIcon-fontSizeSmall {
  color: #ccc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiList-padding {
  padding-bottom: 0px !important;
}
